{% load static %}
{% load i18n %}
<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__content _container">
            <div class="footer__body">
                <div class="company_name">ЧТУП «СевенТрансСервис»</div>
                <div class="footer__menu">
                    <div class="footer__col">
                        <div class="company__item">УНП 690630311</div>
                        <div class="company__item">
                            223710, Минская обл., Солигорский р-н,
                            Чижевичский с/с, д.68, пом.56,
                            Район промзоны 1 РУ
                        </div>
                        <div class="company__item">Разработка сайта -
                            <a href="https://profox.by/" class="page__link">ProFox</a>
                        </div>

                    </div> <!--__col-->

                    <div class="footer__col">
                        <div class="company__item">{% trans 'Время работы: пн-пт с 8.00 до 17.00' %}</div>
                        <div class="company__item">E-mail:
                            <a class="_link_underline" href="mailto:info@remohire.co">seventrans@mail.ru</a>
                        </div>
                        <div class="company__item">
                            <a class="_link mr-20" href="tel:+375174323323">+375 (174) 323323,</a>
                            <a class="_link" href="tel:+375296253512">+375 (29) 6253512</a>
                        </div>
                        <div class="company__item">
                            <a href="">
                                <img class="_icon mr-20" src="{% static 'img/instagram.svg' %}" alt="instagram">
                            </a>
                            <a href="">
                                <img class="_icon" src="{% static 'img/linkedin.svg' %}" alt="linkedin">
                            </a>
                        </div>
                    </div> <!--__col-->
                    <div class="footer__col maps__block">
                        <div class="maps__logo">
                            <img src="{% static 'img/logo.png' %}" alt="seventrans">
                        </div> <!--__item-->
                    </div> <!--__col-->

                </div> <!--__menu-->


            </div> <!--__body-->
        </div> <!--__content-->
    </div><!--__wrapper-->
</footer>