{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__content _container">
            <div class="footer__body">
                <div class="company_name">
                    {% if  LANGUAGE_CODE == 'ru' %}
                        {{ contacts.full_name_ru|safe }}
                    {% else %}
                        {{ contacts.full_name_en|safe }}
                    {% endif %}
                </div>
                <div class="footer__menu">
                    <div class="footer__col">
                        <div class="company__item">
                            {% trans 'УНП' %}{{ contacts.unp }}
                        </div>
                        <div class="company__item">
                            {% if  LANGUAGE_CODE == 'ru' %}
                                {{ contacts.address_ru|safe }}
                            {% else %}
                                {{ contacts.address_en|safe }}
                            {% endif %}

                        </div>
                        <div class="company__item">{% trans 'Разработка сайта' %} -
                            <a href="https://profox.by/" class="page__link">ProFox</a>
                        </div>

                    </div> <!--__col-->

                    <div class="footer__col">
                        <div class="company__item">
                            {% trans 'Время работы:' %}
                            {% if LANGUAGE_CODE == 'ru' %}
                                {{ contacts.working_time_ru }}
                            {% else %}
                                {{ contacts.working_time_en }}
                            {% endif %}
                        </div>
                        <div class="company__item">E-mail:
                            <a class="_link_underline"  href="mailto:{{ contacts.email }}">
                                {{ contacts.email }}
                            </a>
                        </div>
                        <div class="company__item">
                            <a class="_link" href="tel:{{ contacts.phone_number_1 }}">{{ contacts.phone_number_1 }}</a>
                            <a class="_link" href="tel:{{ contacts.phone_number_2 }}">{{ contacts.phone_number_2 }}</a>
                            </a>
                        </div>
                        <div class="company__item">
                            <a href="">
                                <img class="_icon mr-20" src="{% static 'img/instagram.svg' %}" alt="instagram">
                            </a>
                            <a href="">
                                <img class="_icon" src="{% static 'img/linkedin.svg' %}" alt="linkedin">
                            </a>
                        </div>
                    </div> <!--__col-->
                    <div class="footer__col maps__block">
                        <div class="maps__logo">
                            <img src="{% static 'img/logo.png' %}" alt="seventrans">
                        </div> <!--__item-->
                    </div> <!--__col-->

                </div> <!--__menu-->


            </div> <!--__body-->
        </div> <!--__content-->
    </div><!--__footer__wrapper-->
</footer>