{% load static %}
<header class="header">
    <div class="header__wrapper">
        <div class="header__content  _container">
            <div class="header__body">
                <nav class="header__navigation">
                    <button id="burger" type="button" class="icon-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="header__logo-box">
                        <a class="header__logo" href="/" alt="">
                            <img class="header__img" src="{% static 'img/logo.png' %}" alt="seventrans">
                        </a>
                        <div class="header__logo-text">
                            Международные
                            автомобильные перевозки
                            по Европе и странам СНГ
                        </div>
                    </div>
                    <div class="header__menu menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a class="menu__link" href="/about">О компании</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="/servises">Услуги</a>
                            </li>

                            <li class="menu__item">
                                <a class="menu__link" href="/news">Новости</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="/contacts">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__language language _flex">
                        <div class="language__box">
                            <div class="language__item _active _flex">RU</div>
                            <div class="language__item _flex">EN</div>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>

</header>