<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4RjNAs-iv&#45;&#45;Chv06QHTpempTq4QoRKAY&callback=initMap&libraries=&v=weekly">
    <!--   AIzaSyA4RjNAs-iv&#45;&#45;Chv06QHTpempTq4QoRKAY-->


</script>
<script defer>
    // Initialize and add the map
    function initMap() {
        const myLatLng = {lat: 52.7859359, lng: 27.5199607};
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: myLatLng,
        });

        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "7trans!",
        });
    }
</script>