{% load static %}
<!-- Connection axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Connection vue library-->
<script src="https://unpkg.com/vue@next"></script>
<!-- Connection vue components. Put components here-->
<script src="{% static 'js/components/languageTumbler.js' %}"></script>
<script src="{% static 'js/components/services.js' %}"></script>
<script src="{% static 'js/components/news.js' %}"></script>
<script src="{% static 'js/components/newsBanner.js' %}"></script>
<!-- Connection vue instance-->
<script src="{% static 'js/vue.js' %}"></script>
