<!DOCTYPE html>
<html lang="en">
    <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">

  <title>7trans | Контакты</title>







</head>

    <body>
        <header class="header">
    <div class="header__wrapper">
        <div class="header__content  _container">
            <div class="header__body">
                <nav class="header__navigation">
                    <button id="burger" type="button" class="icon-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="header__logo-box">
                        <a class="header__logo" href="/" >
                            <img class="header__img" src="img/seventrans-07.png" alt="seventrans">
                        </a>
                        <div class="header__logo-text">
                            Международные
                            автомобильные перевозки
                            по Европе и странам СНГ
                        </div>
                    </div>
                        <nav id="burger_menu" class="menu__body">
                            <ul class="menu__list">
                                <li class="menu__item">
                                    <a class="menu__link" href="">О компании</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="">Услуги</a>
                                </li>

                                <li class="menu__item">
                                    <a class="menu__link" href="">Новости</a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                    <div class="header__language language _flex">
                        <div class="language__box">
                            <div class="language__item _active _flex">RU</div>
                            <div class="language__item _flex">EN</div>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>

</header>
        <section class="preheader">
    <div class="preheader__wrapper">
        <div class="preheader__wrapper__bg"></div>
        <div class="preheader__content  _container">
            <div class="preheader__body">
                <div class="breadcrumbs">Главная / Контакты</div>
                <h2 class="preheader__title">Контакты</h2>
            </div> <!--  __content-->
       </div><!--  __content-->
    </div>  <!-- __wrapper-->
</section>

        <section class="contacts">
    <div class="contacts__wrapper">
        <div class="contacts__content  _container">
            <div class="contacts__body">

                <div class="contacts__box _flex">
                    <div class="table2x">
                        <div>
                            <div class="contacts__item"><strong>Юридические данные:</strong></div>
                            <div class="contacts__item"><strong>Полное наименование:</strong>
                                <span>
                                     ЧТУП «СевенТрансСервис»
                                </span>
                            </div>
                            <div class="contacts__item"><strong>Юридические адрес:</strong>
                                <span>
                                      223710, Минская обл., Солигорский р-н, Чижевичский с/с, д.68, пом.56, Район промзоны 1 РУ
                                </span>
                            </div>
                            <div class="contacts__item"><strong>УНП:</strong>
                                <span>
                                    690630311
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="table2x">
                        <div class="contacts__row">
                            <img class="contacts__icon" src="img/svg/point.svg" alt="Adress">
                            <div class="contacts__item"><strong>Адрес:</strong>
                                <span>
                                      ул. К.Заслонова 47-17, 46, 223709, г.Солигорск,
                                      Минская область, Республика Беларусь.
                                </span>
                            </div>
                        </div>
                        <div class="contacts__row">
                            <img class="contacts__icon" src="img/svg/time.svg" alt="Working time">
                            <div class="contacts__item"><strong>Время работы:</strong>
                                <span>
                                    пн-пт с 8.00 до 17.00
                                </span>
                            </div>
                        </div>
                        <div class="contacts__row">
                            <img class="contacts__icon" src="img/svg/phone.svg" alt="Telephon">
                            <div class="contacts__item"><strong>Наш телефон:</strong>
                                <a class="_link" href="tel:+375296253512">+375 (29) 625-35-12</a>
                            </div>
                        </div>
                        <div class="contacts__row">
                            <img class="contacts__icon" src="img/svg/email.svg" alt="Email">
                            <div class="contacts__item"><strong>Наша почта:</strong>
                                <a class="_link_underline"  href="mailto:info@remohire.co" >seventrans@mail.ru</a>
                            </div>
                        </div>

                    </div>

                </div> <!-- __box-->

                <div class="contacts__box">
                    <div class="contacts__map">
<!--                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A352c3295463f92c6382358a083d5a52435bac81250f666f21ea7b56bb0605926&amp;width=100%25&amp;height=475&amp;lang=ru_RU&amp;scroll=true"></script>-->
                        <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
                        <div id="map"></div>
                    </div>  <!-- __box-->

                </div> <!-- __box-->



            </div><!-- __body-->
        </div><!-- __content-->
    </div><!-- __wrapper-->

</section>

        <footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__content _container">
            <div class="footer__body">
                <div class="company_name">ЧТУП «СевенТрансСервис» </div>
                <div class="footer__menu">
                    <div class="footer__col">
                        <div class="company__item">УНП 690630311</div>
                        <div class="company__item">
                            223710, Минская обл., Солигорский р-н,
                            Чижевичский с/с, д.68, пом.56,
                            Район промзоны 1 РУ</div>
                        <div class="company__item">Разработка сайта -
                            <a  href="https://profox.by/" class="page__link">ProFox</a>
                        </div>

                    </div> <!--__col-->

                    <div class="footer__col">
                        <div class="company__item">Время работы: пн-пт с 8.00 до 17.00</div>
                        <div class="company__item">E-mail:
                            <a class="_link_underline"  href="mailto:info@remohire.co" >seventrans@mail.ru</a>
                        </div>
                        <div class="company__item">
                            <a class="_link" href="tel:+375174323323">+375&nbsp;(174)&nbsp;32-33-23,</a>
                            <a class="_link" href="tel:+375296253512">+375&nbsp;(29)&nbsp;625-35-12</a>
                        </div>
                        <div class="company__item">
                            <a href="" >
                                <img class="_icon mr-20" src="img/instagram.svg" alt="instagram">
                            </a>
                            <a href="">
                                <img class="_icon" src="img/linkedin.svg" alt="linkedin">
                            </a>
                        </div>
                    </div> <!--__col-->
                    <div class="footer__col maps__block">
                        <div class="maps__logo">
                            <img src="img/logo.png" alt="seventrans">
                        </div> <!--__item-->
                    </div> <!--__col-->

                </div> <!--__menu-->



            </div> <!--__body-->
        </div> <!--__content-->
    </div><!--__wrapper-->
</footer>
        <script src="js/app.min.js"></script>

        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4RjNAs-iv&#45;&#45;Chv06QHTpempTq4QoRKAY&callback=initMap&libraries=&v=weekly" >
            <!--   AIzaSyA4RjNAs-iv&#45;&#45;Chv06QHTpempTq4QoRKAY-->


        </script>
        <script defer>
            // Initialize and add the map
            function initMap() {
                const myLatLng = { lat: 52.7859359, lng: 27.5199607 };
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 14,
                    center: myLatLng,
                });

                new google.maps.Marker({
                    position: myLatLng,
                    map,
                    title: "7trans!",
                });
            }
        </script>

</body>
</html>