._container {
  max-width: 1355px;
  margin: 0 auto;
  padding: 0 2%;
}
@media (max-width: 1367px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 479.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.header__body {
  color: #000;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-box {
  display: flex;
  align-items: center;
}
.header__logo-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  width: 215px;
  border-left: 1px solid #EFEFEF;
  padding-left: 20px;
  color: #6A6A6A;
}
@media (max-width: 767.98px) {
  .header__logo-text {
    display: none;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .header__menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  list-style-type: none;
}
.menu__item {
  list-style-type: none;
  margin-right: 60px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  color: #000000;
}
.menu__link:hover {
  color: #0F78D6;
  transition: color 0.3s ease 0s;
}

.language {
  display: flex;
  align-items: center;
}
.language__box {
  display: flex;
  align-items: center;
}
.language__item {
  width: 60px;
  height: 45px;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #CBE3F9;
  box-sizing: border-box;
  border-radius: 2px;
}
.language__item:hover {
  background: #0F78D6;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.language ._active {
  background: #0F78D6;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    top: 25px;
    left: 30px;
    width: 60px;
    height: 45px;
    background: #102B43;
    border-radius: 2px;
    padding: 13px 17px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    display: block;
    transition: all 0.3s ease 0s;
    width: 18px;
    height: 3px;
    border-radius: 5%;
    background-color: #fff;
    margin-bottom: 5px;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:nth-child(2) {
    width: 12px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
    margin-bottom: 0px;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.news__wrapper {
  padding: 100px 0 50px 0;
}
.news__content h2 {
  margin-bottom: 40px;
}
.news__body {
  display: flex;
  align-items: flex-end;
}
.news__block {
  flex-basis: 50%;
}
.news__block:nth-child(2) {
  padding-left: 25px;
}
.news__block:nth-child(2) .one_news__block {
  display: flex;
  align-items: flex-start;
  justify-content: right;
}
.news__block:nth-child(2) .one_news__block:nth-child(1) {
  margin-bottom: 25px;
}
.news__block:nth-child(2) .one_news__description {
  padding-left: 20px;
}
.news .one_news__date {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #625F5F;
  margin-bottom: 10px;
}
.news .one_news__title {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}
.news .one_news__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #625F5F;
}
.banner__wrapper {
  position: relative;
  background-image: url("../img/bg-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 0 180px 0;
}
.banner__content {
  position: relative;
}
.banner__body {
  height: 800px;
  position: relative;
}
.banner__title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: 116px;
  left: 150px;
  color: #fff;
}
.banner__title .square {
  justify-content: center;
  flex-direction: column;
  width: 175px;
  height: 175px;
  background-color: #0F78D6;
  font-size: 100px;
}
.banner__title .square div:nth-child(2) {
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.banner__title .title__col:nth-child(2) {
  width: 300px;
  padding-left: 20px;
  font-weight: bold;
  font-size: calc(25px + 25 * ((100vw - 320px) / 1600));
  line-height: 60px;
}
@media (max-width: 1355px) {
  .banner__title .title__col:nth-child(2) {
    line-height: calc(34px + 26 * ((100vw - 320px) / 1035));
  }
}
.banner__about {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 100%;
  margin: 0 auto;
  left: 50%;
  display: flex;
}
.banner__about h2 {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .banner__about {
    flex-direction: column;
  }
}

.about {
  display: flex;
}
.about__block {
  border-radius: 2px;
}
.about__block .table2x {
  min-width: 400px;
}
.about__block .table2x:nth-child(1) {
  padding: 70px 60px;
  background: #F1F7FC;
}
.about__block .table2x:nth-child(2) {
  background: #102B43;
}
.about__text {
  display: flex;
  color: #212121;
}
.about__text div:nth-child(1) {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}
.about__text div:nth-child(1) p {
  margin-bottom: 5px;
}
.about__logo img {
  width: 100%;
  padding-left: 20px;
}
.about__item {
  color: #fff;
  font-size: calc(30px + 15 * ((100vw - 320px) / 1600));
  font-weight: 700;
  padding: 40px 0px 40px 55px;
}
.about__item:nth-child(2) {
  background: #0F78D6;
}
.about__info:nth-child(2) {
  margin: 10px 0;
}
.about__subitem {
  font-size: 17px;
}

.map__wrapper {
  background: linear-gradient(180deg, #F1F7FC 0%, rgba(255, 255, 255, 0) 100%);
}
.map__content {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.map__body {
  height: 700px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 18px;
}

html,
body {
  height: 100%;
  min-width: 320;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.uslugi__paragraph {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #212121;
}
.uslugi__box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.uslugi__item {
  display: flex;
  align-items: center;
  flex-basis: 48%;
  min-width: 340px;
  background: #FFFFFF;
  border: 1px solid #D8E4EE;
  border-radius: 2px;
  margin-bottom: 30px;
}
.uslugi__item:nth-child(odd) {
  margin-right: 30px;
}
.uslugi__item:hover {
  background: #D8E4EE;
}
@media (max-width: 767.98px) {
  .uslugi__item {
    flex-basis: 100%;
  }
}
@media (max-width: 479.98px) {
  .uslugi__item {
    flex-basis: 100%;
    flex-direction: column;
  }
}

.usluga__textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 15px 30px 30px;
}
@media (max-width: 479.98px) {
  .usluga__textbox .btn {
    width: 100%;
  }
}
.usluga__description {
  margin: 20px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}
.usluga__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.usluga__title:hover {
  color: #0F78D6;
}

.list_news__paragraph {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #212121;
}
.list_news__box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.list_news__item {
  background: #FFFFFF;
  border: 1px solid #D8E4EE;
  border-radius: 2px;
  max-width: 435px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.list_news__item:nth-child(odd) {
  margin-right: 30px;
}
.list_news__item:hover {
  border: 1px solid #D8E4EE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  cursor: pointer;
}
.list_news__item:hover .one_news__title {
  color: #0F78D6;
}
@media (max-width: 767.98px) {
  .list_news__item {
    flex-basis: 100%;
  }
}
@media (max-width: 479.98px) {
  .list_news__item {
    flex-basis: 100%;
    flex-direction: column;
  }
}
.list_news__img img {
  max-width: 100%;
}
.list_news__description {
  padding: 25px 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}
.list_news__description .one_news__item {
  margin-bottom: 12px;
}
.list_news__description .one_news__date {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #625F5F;
}
.list_news__description .one_news__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #212121;
}
.list_news__description .one_news__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}
.list_news__pagination {
  margin: 20px 0;
  justify-content: center;
}

.contacts__box {
  font-size: 18px;
  line-height: 30px;
  color: #212121;
  margin-bottom: 60px;
}
@media (max-width: 767.98px) {
  .contacts__box {
    flex-direction: column;
  }
}
.contacts__box .table2x {
  padding: 0 20px 0 40px;
}
@media (max-width: 767.98px) {
  .contacts__box .table2x {
    margin-bottom: 20px;
  }
}
.contacts__box .table2x:nth-child(1) {
  background: #F1F7FC;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #DFEAF3;
}
.contacts__row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.contacts__item {
  padding-left: 20px;
}
.contacts__map {
  border: 10px solid #DFEAF3;
  border-radius: 2px;
}

.preheader__wrapper {
  background-image: url("../img/prebanner1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.preheader__body .breadcrumbs {
  padding-top: 20px;
  font-size: 16px;
  line-height: 25px;
  color: #D4E4F3;
}
.preheader__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  margin-top: 40px;
}

.footer__wrapper {
  background: linear-gradient(90deg, #102B43 65%, #F1F7FC 35%);
}
@media (max-width: 767.98px) {
  .footer__wrapper {
    background: #102B43;
  }
}
.footer__body {
  color: #FFFFFF;
  padding: 80px 0px 60px 0px;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 479.98px) {
  .footer__menu {
    flex-direction: column;
  }
}
.footer__col .company__item {
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.footer__col .company__item:nth-child(2) {
  width: 300px;
}
.footer__col .company__item ._icon {
  width: 35px;
  height: 35px;
}
@media (max-width: 767.98px) {
  .footer__col:nth-child(3) {
    display: none;
  }
}
.footer .company_name {
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 40px;
}

.page {
  flex: 1 1 auto;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-20 {
  margin-right: 20px;
}

body {
  font-family: "Roboto";
  font-size: 18;
  font-weight: 500;
  font-style: normal;
}

._flex {
  display: flex;
  align-items: center;
}

._link {
  color: #fff;
}
._link_underline {
  color: #fff;
  text-decoration: underline;
}

.btn {
  justify-content: center;
  padding: 8px 30px;
  background: #0F78D6;
  border-radius: 2px;
  font-size: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.btn:hover {
  background: #102B43;
}
.btn-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__link {
  text-decoration: underline;
  color: #B3B4F3;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  color: #212121;
}

.pagination__numbers {
  display: flex;
  padding: 0 20px;
}
.pagination__link {
  cursor: pointer;
}
.pagination__item {
  width: 46px;
  height: 46px;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #0F78D6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}
.pagination ._active {
  background: #0F78D6;
  color: #FFFFFF;
}