{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
    <section class="preheader">
        <div class="preheader__wrapper">
            <div class="preheader__wrapper__bg"></div>
            <div class="preheader__content  _container">
                <div class="preheader__body">
                    <div class="breadcrumbs">{% trans 'Главная'  %} / {% trans 'О компании' %}</div>
                    <h2 class="preheader__title">{% trans 'О компании' %}</h2>
                </div> <!--  __content-->
            </div><!--  __content-->
        </div>  <!-- __wrapper-->
    </section>
    <section class="content">
        <div class="content__wrapper">
            <div class="content__content  _container">
                <div class="content__body">
                    <div class="content__paragraph">
                        <h3>
                            {% if LANGUAGE_CODE == 'ru' %}
                                {{ about_company.sub_title_1_ru|safe }}
                            {% else %}
                                {{ about_company.sub_title_1_en|safe }}
                            {% endif %}
                        </h3>
                        <p>
                            {% if LANGUAGE_CODE == 'ru' %}
                                {{ about_company.body_1_ru|safe }}
                            {% else %}
                                {{ about_company.body_1_en|safe }}
                            {% endif %}
                        </p>
                    </div> <!--   paragraph-->
                    <div class="content__box">
                        <div class="table2x">
                            <div class="content__paragraph">
                                <p>
                                    {% if LANGUAGE_CODE == 'ru' %}
                                        {{ about_company.text_with_blue_background_ru|safe }}
                                    {% else %}
                                        {{ about_company.text_with_blue_background_en|safe }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="content__paragraph">
                                <h3>
                                    {% if LANGUAGE_CODE == 'ru' %}
                                        {{ about_company.sub_title_2_ru|safe }}
                                    {% else %}
                                        {{ about_company.sub_title_2_en|safe }}
                                    {% endif %}
                                </h3>
                                <p>
                                    {% if LANGUAGE_CODE == 'ru' %}
                                        {{ about_company.body_2_ru|safe }}
                                    {% else %}
                                        {{ about_company.body_2_en|safe }}
                                    {% endif %}
                                </p>
                            </div>
                        </div> <!--   paragraph-->

                    <div class="table2x statistic_box">
                        <div class="about__item">
                            <div class="about__info">25 лет</div>
                            <div class="about__subitem">безупречной работы</div>
                        </div>
                        <div class="about__item">
                            <div class="about__subitem">более</div>
                            <div class="about__info">50 млн. км.</div>
                            <div class="about__subitem">пробега</div>
                        </div>
                        <div class="about__item">
                            <div class="about__info">45000</div>
                            <div class="about__subitem">перевозок</div>
                        </div>
                    </div> <!-- table2x-->

                </div> <!-- box-->


            </div>
        </div>
    </div>

</section>
{% endblock content %}