{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
    <section class="preheader">
        <div class="preheader__wrapper">
            <div class="preheader__wrapper__bg"></div>
            <div class="preheader__content  _container">
                <div class="preheader__body">
                    <div class="breadcrumbs">{% trans 'Главная / О компании' %}</div>
                    <h2>{% trans 'О компании'%}</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="content__wrapper">
            <div class="content__content  _container">
                <div class="content__body">
                    <div class="content__paragraph">

                        <h3>
                            {% if LANGUAGE_CODE == 'ru' %}
                            {{ about_company.sub_title_ru|safe }}
                            {% else %}
                            {{ about_company.sub_title_en|safe }}
                            {% endif %}
                        </h3>
                        <p>
                            {% if LANGUAGE_CODE == 'ru' %}
                            {{ about_company.body_ru|safe }}
                            {% else %}
                            {{ about_company.body_en|safe }}
                            {% endif %}
                        </p>
                    </div>
                        <div class="table2x statistic_box">
                            <div class="about__item">25 {% trans 'лет' %}
                                <div class="about__subitem">{% trans 'безупречной работы' %}</div>
                            </div>
                            <div class="about__item">{% trans '50 млн. км.' %}
                                <div class="about__subitem">{% trans 'пробега' %}</div>
                            </div>
                            <div class="about__item">
                                45000
                                <div class="about__subitem">{% trans 'перевозок' %}</div>
                            </div>
                        </div>

                    </div>

                    <div class="content__paragraph">
                        <h3>Подзаголовок для этого текста</h3>
                    </div>

                </div>
            </div>
        </div>

    </section>
{% endblock content %}
