{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="preheader">
        <div class="preheader__wrapper">
            <div class="preheader__content  _container">
                <div class="preheader__body">
                    <div class="breadcrumbs">Главная / О компании</div>
                    <h2>О компании</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="content__wrapper">
            <div class="content__content  _container">
                <div class="content__body">
                    <div class="content__paragraph">
                        <h3>Подзаголовок для этого текста</h3>
                        <p>Компания ЧТУП «СевенТрансСервис» на протяжении 25 лет осуществляет автомобильные
                            международные грузоперевозки наземным транспортом, являясь надежным партнером для коллег и
                            заказчиков.
                            Одним из направлений деятельности компании является экспедирование грузов в страны Европы и
                            СНГ.
                            Автопарк компании включает в себя собственные тентованные и рефрижераторные автопоезда
                            стандарта Евро-5, Евро-6.
                        </p>
                    </div>
                    <div class="content__box">
                        <div class="table2x">
                            <div class="content__paragraph">
                                <p>Такая услуга, как грузоперевозки, становится все более востребованной на белорусском
                                    рынке. И это не удивительно, поскольку бизнес не стоит на месте, а постоянно
                                    развивается. Сегодня многие компании заключают международные договора на поставку и
                                    очень важно, чтобы груз был доставлен вовремя, аккуратно и без повреждений. Такие
                                    высокие требования способен удовлетворить не каждый, поэтому крайне важно выбрать
                                    надежного и ответственного партнера, для которого интересы клиента превыше всего!
                                </p>
                            </div>
                            <div class="content__paragraph">
                                <h3>Подзаголовок для этого текста</h3>
                                <p>Наша компания является лидером на белорусском рынке и имеет множество положительных
                                    отзывов от благодарных клиентов! Вывод списка в тексте:
                                    Если Ваш бизнес нуждается в доставке груза в противоположном направлении – мы также
                                    будем рады помочь!
                                    Для перевозки мы используем только современный и надежный транспорт,
                                    грузоподъемностью от 1-й до 20-ти тонн.
                                    Транспортировка небольших грузов осуществляется с помощью формирования попутных,
                                    сборных и обратных грузов (это позволяет существенно снизить затраты).</p>
                            </div>
                        </div>
                        <div class="table2x statistic_box">
                            <div class="about__item">25 лет
                                <div class="about__subitem">безупречной работы</div>
                            </div>
                            <div class="about__item">50 млн. км.
                                <div class="about__subitem">пробега</div>
                            </div>
                            <div class="about__item">
                                45000
                                <div class="about__subitem">перевозок</div>
                            </div>
                        </div>

                    </div>

                    <div class="content__paragraph">
                        <h3>Подзаголовок для этого текста</h3>
                    </div>

                </div>
            </div>
        </div>

    </section>
{% endblock content %}
