{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="preheader" xmlns="http://www.w3.org/1999/html">
        <div class="preheader__wrapper">
            <div class="preheader__wrapper__bg"></div>
            <div class="preheader__content  _container">
                <div class="preheader__body">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs" href="/">{% trans 'Главная' %}</a> /
                        <a class="breadcrumbs" href="/news">{% trans 'Новости' %}</a>
                    </div>
                    <h2 class="preheader__title">{% trans 'Новости' %}</h2>
                </div> <!--  __content-->
            </div><!--  __content-->
        </div>  <!-- __wrapper-->
    </section>

    <section class="article">
        <div class="article__wrapper">
            <div class="article__content  _container">
                <div class="article__body">
                    <div class="article__paragraph">

                        <div class="article__item">
                            <div class="article__img">
                                <img src="{{ article.img_url }}" alt="">
                            </div>

                            <div class="article__description">
                                <div class="one__date one_news__item article__date">{{ article.publish_date }}</div>
                                <div class="one__title one_news__item article__title">{{ article.title }}</div>
                            </div>
                            <p>
                                {{ article.body|safe }}
                            </p>
                        </div>
                    </div>
                </div><!--__body-->
            </div><!--__content-->
        </div> <!--__wrapper-->

    </section>

{% endblock content %}
{% static 'js/fetchNews.js' %}