{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="preheader">
        <div class="preheader__wrapper">
            <div class="preheader__wrapper__bg"></div>
            <div class="preheader__content  _container">
                <div class="preheader__body">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs" href="/">{% trans 'Главная' %}</a>  /
                        <a class="breadcrumbs" href="/contacts">{% trans 'Контакты' %}</a>
                    </div>
                    <h2 class="preheader__title">{% trans 'Контакты' %}</h2>
                </div> <!--  __content-->
            </div><!--  __content-->
        </div>  <!-- __wrapper-->
    </section>

    <section class="contacts">
        <div class="contacts__wrapper">
            <div class="contacts__content  _container">
                <div class="contacts__body">

                    <div class="contacts__box _flex">
                        <div class="table2x">
                            <div>
                                <div class="contacts__item"><strong>{% trans 'Юридические данные:' %}</strong></div>
                                <div class="contacts__item"><strong>{% trans 'Полное наименование:' %}</strong>
                                    <span>
                                     {% if  LANGUAGE_CODE == 'ru' %}
                                         {{ contacts.full_name_ru|safe }}
                                     {% else %}
                                         {{ contacts.full_name_en|safe }}
                                     {% endif %}
                                </span>
                                </div>
                                <div class="contacts__item"><strong>{% trans 'Юридические адрес:' %}</strong>
                                    <span>
                                      {% if  LANGUAGE_CODE == 'ru' %}
                                          {{ contacts.legal_address_ru|safe }}
                                      {% else %}
                                          {{ contacts.legal_address_en|safe }}
                                      {% endif %}
                                </span>
                                </div>
                                <div class="contacts__item"><strong>{% trans 'УНП:' %}</strong>
                                    <span>
                                    {{ contacts.unp }}
                                </span>
                                </div>
                            </div>

                        </div>

                        <div class="table2x">
                            <div class="contacts__row">
                                <img class="contacts__icon" src="{% static 'img/svg/point.svg' %}" alt="Adress">
                                <div class="contacts__item"><strong>{% trans 'Адрес:' %}</strong>
                                    <span>
                                        {% if  LANGUAGE_CODE == 'ru' %}
                                            {{ contacts.address_ru|safe }}
                                        {% else %}
                                            {{ contacts.address_en|safe }}
                                        {% endif %}
                                </span>
                                </div>
                            </div>
                            <div class="contacts__row">
                                <img class="contacts__icon" src="{% static 'img/svg/time.svg' %}" alt="Working time">
                                <div class="contacts__item">
                                    <strong>{% trans 'Время работы:' %}</strong>
                                    <span>
                                    {% if  LANGUAGE_CODE == 'ru' %}
                                        {{ contacts.working_time_ru|safe }}
                                    {% else %}
                                        {{ contacts.working_time_en|safe }}
                                    {% endif %}
                                </span>
                                </div>
                            </div>
                            <div class="contacts__row">
                                <img class="contacts__icon" src="{% static 'img/svg/phone.svg' %}" alt="Telephon">
                                <div class="contacts__item">
                                    <strong>{% trans 'Наш телефон:' %}</strong>
                                    <span>
                                        <a class="_link" href="tel:{{ contacts.phone_number_1 }}">{{ contacts.phone_number_1 }}</a>
                                </span>
                                </div>
                            </div>
                            <div class="contacts__row">
                                <img class="contacts__icon" src="{% static 'img/svg/email.svg' %}" alt="Email">
                                <div class="contacts__item">
                                    <strong>{% trans 'Наша почта:' %}</strong>
                                    <span>
                                      {{ contacts.email }}
                                </span>
                                </div>
                            </div>

                        </div>

                    </div> <!-- __box-->

                    <div class="contacts__box">
                        <div class="contacts__map">
                            <!--                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A352c3295463f92c6382358a083d5a52435bac81250f666f21ea7b56bb0605926&amp;width=100%25&amp;height=475&amp;lang=ru_RU&amp;scroll=true"></script>-->
                            <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
                            <div id="map"></div>
                        </div>  <!-- __box-->

                    </div> <!-- __box-->


                </div><!-- __body-->
            </div><!-- __content-->
        </div><!-- __wrapper-->

    </section>
    {% include 'base/map_connection.html' %}
{% endblock content %}
<script src="js/app.min.js"></script>
