{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="preheader">
        <div class="preheader__wrapper">
            <div class="preheader__wrapper__bg"></div>
            <div class="preheader__content  _container">
                <div class="preheader__body">
                    <div class="breadcrumbs">{% trans 'Главная' %} / {% trans 'Новости' %}</div>
                    <h2 class="preheader__title">{% trans 'Новости' %}</h2>
                </div> <!--  __content-->
            </div><!--  __content-->
        </div>  <!-- __wrapper-->
    </section>

    <section class="list_news">
        <div class="list_news__wrapper">
            <div class="list_news__content  _container">
                <div class="list_news__body">
                    <div class="list_news__paragraph">

                        <p>
                            {% if LANGUAGE_CODE == 'ru' %}
                                {{ news_page_sub_title.sub_title_ru|safe }}
                            {% else %}
                                {{ news_page_sub_title.sub_title_en|safe }}
                            {% endif %}
                        </p>
                    </div>
                    <news></news>
                </div><!--__body-->
            </div><!--__content-->
        </div> <!--__wrapper-->

    </section>
{% endblock content %}