{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <section class="preheader">
        <div class="preheader__wrapper">
            <div class="preheader__wrapper__bg"></div>
            <div class="preheader__content  _container">
                <div class="preheader__body">
                    <div class="breadcrumbs">{% trans 'Главная / Новости' %}</div>
                    <h2 class="preheader__title">{% trans 'Новости' %}</h2>
                </div> <!--  __content-->
            </div><!--  __content-->
        </div>  <!-- __wrapper-->
    </section>

    <section class="list_news">
        <div class="list_news__wrapper">
            <div class="list_news__content  _container">
                <div class="list_news__body">
                    <div class="list_news__paragraph">

                        <p>
                            {% blocktranslate %}
                            В условиях постоянно развивающейся экономики нашей страны, международные перевозки грузов
                            обретают все большую популярность. На сегодняшний день ни одна фирма, которая осуществляет
                            внешнеэкономическую деятельность, не обходится без сотрудничества с компанией,
                            осуществляющей
                            международные грузоперевозки.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <news></news>
                </div><!--__body-->
            </div><!--__content-->
        </div> <!--__wrapper-->

    </section>
{% endblock content %}
{% static 'js/fetchNews.js' %}