{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
    <section class="preheader">
        <div class="preheader__wrapper">
            <div class="preheader__wrapper__bg"></div>
            <div class="preheader__content  _container">
                <div class="preheader__body">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs" href="/">{% trans 'Главная' %}</a> /
                        <a class="breadcrumbs" href="/services">{% trans 'Услуги' %}</a> /
                        {% if LANGUAGE_CODE == 'ru' %}
                            {{ service.title_ru }}
                        {% else %}
                            {{ service.title_en }}
                        {% endif %}
                    </div>
                    <h2 class="preheader__title">
                        {% if LANGUAGE_CODE == 'ru' %}
                            {{ service.title_ru }}
                        {% else %}
                            {{ service.title_en }}
                        {% endif %}
                    </h2>
                </div> <!--  __content-->
            </div><!--  __content-->
        </div>  <!-- __wrapper-->
    </section>
    <section class="content">
        <div class="content__wrapper">
            <div class="content__content  _container">
                <div class="content__body">
                    <div class="content__paragraph">
                        <p>
                            {% if LANGUAGE_CODE == 'ru' %}
                                {{ service.content_1_ru|safe }}
                            {% else %}
                                {{ service.content_1_en|safe }}
                            {% endif %}
                        </p>
                    </div> <!--   paragraph-->
                    <div class="content__paragraph">
                        <p>
                            {% if LANGUAGE_CODE == 'ru' %}
                                {{ service.content_2_ru|safe }}
                            {% else %}
                                {{ service.content_2_en|safe }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="content__img">
                        <img src="{{ service.img.url }}" alt="">
                    </div>
                    <div class="content__paragraph">
                    <p>
                        {% if LANGUAGE_CODE == 'ru' %}
                            {{ service.content_3_ru|safe }}
                        {% else %}
                            {{ service.content_3_en|safe }}
                        {% endif %}
                    </p>
                </div> <!--   paragraph-->
                </div>
            </div>
        </div>

    </section>
{% endblock %}

