{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="preheader">
        <div class="preheader__wrapper">
            <div class="preheader__wrapper__bg"></div>
            <div class="preheader__content  _container">
                <div class="preheader__body">
                    <div class="breadcrumbs">{% trans 'Главная / Услуги' %}</div>
                    <h2 class="preheader__title">{% trans 'Услуги' %}</h2>
                </div> <!--  __content-->
            </div><!--  __content-->
        </div>  <!-- __wrapper-->
    </section>

    <section class="uslugi">
        <div class="uslugi__wrapper">
            <div class="uslugi__content  _container">
                <div class="uslugi__body">
                    <div class="uslugi__paragraph">

                        <p>
                            {% if LANGUAGE_CODE == 'ru' %}
                                {{ service_page_text.text_ru|safe }}
                            {% else %}
                                {{ service_page_text.text_en|safe }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="uslugi__box">
                        <div class="uslugi__item usluga">
                            <div class="usluga__img">
                                <img src="{% static 'img/usl.png' %}" alt="">
                            </div>
                            <div class="usluga__textbox">
                                <h4 class="usluga__title">Название услуги</h4>
                                <div class="usluga__description">
                                    Негабаритный груз - это объекты грузоперевозок, которые не соответствуют
                                    установленным транспортным стандартам по форме, размерам или техническим
                                    особенностям.
                                </div>
                                <button class="btn btn-arrow">Подробнее
                                    <img src="{% static 'img/arr_wh.svg' %}" width="26" alt="">
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock content %}