{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="preheader">
        <div class="preheader__wrapper">
            <div class="preheader__wrapper__bg"></div>
            <div class="preheader__content  _container">
                <div class="preheader__body">
                    <div class="breadcrumbs">{% trans 'Главная / Услуги' %}</div>
                    <h2 class="preheader__title">{% trans 'Услуги' %}</h2>
                </div> <!--  __content-->
            </div><!--  __content-->
        </div>  <!-- __wrapper-->
    </section>

    <section class="uslugi">
        <div class="uslugi__wrapper">
            <div class="uslugi__content  _container">
                <div class="uslugi__body">
                    <div class="uslugi__paragraph">

                        <p>
                            {% if LANGUAGE_CODE == 'ru' %}
                                {{ service_page_text.text_ru }}
                            {% else %}
                                {{ service_page_text.text_en }}
                            {% endif %}
                        </p>
                    </div>
                    <services></services>

                </div>
            </div>
        </div>

    </section>
{% endblock content %}